/* Style global pour l'application */

/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right span {
    margin-right: 20px;
}

.header-right a {
    text-decoration: none;
    color: #4d90fe;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s;
}

.header-right a:hover {
    background-color: #ddd;
}
/* Wrapper global */
#wrapper {
    display: flex;
    height: 100vh;
}
#menu.hidden {
    display: none;
}


/* Menu côté gauche */
/* Menu côté gauche */
/* Menu côté gauche */
#menu {
    position: fixed;
    top: 45px; /* Laissez un espace sous le header (ajustez la valeur en fonction de la hauteur du header) */
    left: 0;
    width: 250px; /* Largeur du menu */
    height: calc(100vh - 60px - 50px); /* Hauteur du menu ajustée pour qu'il ne touche pas le footer. */
    background-color: #3f8ee9;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    overflow-y: auto; /* Pour éviter les débordements si le contenu est long */
    z-index: 999; /* Assurez-vous que le menu est au-dessus du contenu */
}


#menu h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin: 10px 0;
    padding-left: 20px;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px 0;
}

#menu ul li a:hover {
    background-color: #575757;
}






/* Contenu principal */
#content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

/* Table des données */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* Ajustement du contenu principal */
main {
    margin-left: 250px; /* Décalage à droite pour laisser place au menu */
    padding: 20px;
}

.chart-container canvas {
    width: 300px;  /* Largeur réduite */
    height: 150px; /* Hauteur réduite */
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Met le footer au-dessus du contenu */
}




